version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: alchemy_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: alchemy_task_db
    ports:
      - '5432:5432'
    volumes:
      - alchemy_pg_data:/var/lib/postgresql/data

volumes:
  alchemy_pg_data: